<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="logPattern"
              value="%d{YYYY-MM-dd HH:mm:ss.SSS} [%C{0}] - %msg%n"/>

    <springProfile name="default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${logPattern}</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>
